{% extends 'layout.html' %}

{% block title %}
Geografia por 800
{% endblock %}

{% block content %}
<section>
    <h3>A Política do Filho Único foi desenvolvida e implementada como forma de suprimir as preocupações com o avanço populacional na China. Antes da mesma, após o país enfrentar problemas com a fome medidas para conter a taxa de fecundidade foram impostas.</h3><br> 
    <h5>Disponível em: <a href="https://periodicorease.pro.br/rease/article/view/6508">https://periodicorease.pro.br/rease/article/view/6508</a> (adaptado)</h5>.<br>
    <h3>Assim como na China entre 1979 e 2015, é comum que países em desenvolvimento que possuam taxas de natalidade elevadas tentem controlar o crescimento acelerado de sua população. Entre as seguintes alternativas, qual não se trata de um método de controle da natalidade?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="certo800">A) Vacinação em massa</button></li>
        <li><button name="errado800">B) Métodos contraceptivos</button></li>
        <li><button name="errado800">C) Urbanização da sociedade</button></li>
        <li><button name="errado800">D) Planejamento familiar</button></li>
    </form>
</section>
{% endblock %}