{% extends 'layout.html' %}

{% block title %}
Geografia por 800
{% endblock %}

{% block content %}
<section>
    <h3>Organização dos Países Exportadores de Petróleo. Entidade criada em 1960, no Iraque, com o objetivo de estabelecer uma política comum em relação à produção e à venda de petróleo. Fazem parte da organização: Arábia Saudita, Irã, Kuwait, Venezuela, Iraque, Argélia, Equador, Gabão, Indonésia, Líbia, Nigéria, Catar e Emirados Árabes Unidos.</h3><br> 
    <h5>Disponível em: <a href="https://www12.senado.leg.br/manualdecomunicacao/guia-de-economia/opep">https://www12.senado.leg.br/manualdecomunicacao/guia-de-economia/opep</a> (adaptado)</h5>.<br><br>
    <h3>A Organização dos Países Exportadores de Petróleo, também conhecida como OPEP, é a principal organização intergovernamental ligada à extração de petróleo, que possui monopólio e longo alcance na economia global. Além dos 12 membros atuais, 11 outros países compõem a OPEP+, que é formada pelos membros observadores dessa mesma organização, sendo o Brasil em 2025 um desses países.<br>
    Qual dos seguintes países não faz parte da OPEP+?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="errado600">A) Rússia</button></li>
        <li><button name="errado600">B) México</button></li>
        <li><button name="certo600">C) Estados Unidos</button></li>
        <li><button name="errado600">D) Sudão</button></li>
    </form>
</section>
{% endblock %}