{% extends 'layout.html' %}

{% block title %}
Geografia por 800
{% endblock %}

{% block content %}
<section>
    <h3>O Parque Nacional do Peruaçu, no Norte de Minas Gerais, guarda uma das formações rochosas mais incríveis do país. Dentro de um “salão de pedra” no meio do sertão, a natureza construiu uma estalactite que detém um recorde: é a maior do mundo em extensão. E com um nome curioso: a “perna da bailarina”. Ela tem 28 metros de extensão, algo equivalente a um prédio de nove andares. O tamanho é quase semelhante ao do Cristo Redentor.</h3><br> 
    <h5>Disponível em: <a href="https://g1.globo.com/globo-reporter/noticia/2023/09/17/maior-estalactite-do-mundo-fica-no-brasil-e-e-quase-do-tamanho-do-cristo-redentor.ghtml">https://g1.globo.com/globo-reporter/noticia/2023/09/17/maior-estalactite-do-mundo-fica-no-brasil-e-e-quase-do-tamanho-do-cristo-redentor.ghtml</a> (adaptado)</h5>.<br><br>
    Qual das seguintes alternativas é uma característica da estalactite?</h3>
    <img src="{{ url_for('static', filename='Images/estalactite.jpg') }}" alt="Imagem da questão">
</section>
<section>
    <form method="POST">
        <li><button name="errado1000">A) Extrema ácidez da formação rochosa, devido à escassez de água no ambiente.</button></li>
        <li><button name="certo1000">B) Gotejamento de água, que, ao infiltrar-se na estalactite, ajuda no crescimento da formação rochosa.</button></li>
        <li><button name="errado1000">C) Estabilidade da estalactite, sendo que ela não aumenta ou diminui de tamanho sem o uso excessivo de força.</button></li>
        <li><button name="errado1000">D) A estalactite trata-se de rochas magmáticas antigas, e por isso são somente encontradas perto de vulções.</button></li>
    </form>
</section>
{% endblock %}