{% extends 'layout.html' %}

{% block title %}
Biologia por 1000
{% endblock %}

{% block content %}
<section>
    Pergunta:
    <img src="{{ url_for('static', filename='Images/nomedoarquivo.tipodoarquivo') }}" alt="Imagem da questão">
</section>
<section>
    <form method="POST">
        <li><button name="certo1000">Resposta1</button></li>
        <li><button name="errado1000">Resposta1</button></li>
        <li><button name="errado1000">Resposta1</button></li>
        <li><button name="errado1000">Resposta1</button></li>
    </form>
</section>
{% endblock %}