{% extends 'layout.html' %}

{% block title %}
Biologia por 600
{% endblock %}

{% block content %}
<section>
    <h3>Em relação ao RNA, qual base nitrogenada substitui a timina?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="errado600">A) Citosina</button></li>
        <li><button name="errado600">B) Guanina</button></li>
        <li><button name="certo600">C) Uracila</button></li>
        <li><button name="errado600">D) Adenina</button></li>
        <li><button name="errado600">E) Fabiosina</button></li>
    </form>
</section>
{% endblock %}


