{% extends 'layout.html' %}

{% block title %}
Informática por 200
{% endblock %}

{% block content %}
<section>
    Qual dessas extensões indica um arquivo de executável no Windows?
</section>
<section>
    <form method="POST">
        <li><button name="errado200">A) .doc</button></li>
        <li><button name="errado200">B) .txt</button></li>
        <li><button name="certo200">C) .exe</button></li>
        <li><button name="errado200">D) .bat</button></li>
    </form>
</section>
{% endblock %}