{% extends 'layout.html' %}

{% block title %}
Biologia por 600
{% endblock %}

{% block content %}
<section>
    <h3>O que significa a sigla CPU?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="errado600">A) Central Process Unit</button></li>
        <li><button name="certo600">B) Central Processing Unit </button></li>
        <li><button name="errado600">C) Computer Personal Unit </button></li>
        <li><button name="errado600">D) Core Program Utility</button></li>
    </form>
</section>
{% endblock %}