{% extends 'layout.html' %}

{% block title %}
Informática por 200
{% endblock %}

{% block nav %}
<a href="/">Sobre</a>
{% endblock %}

{% block content %}
<section>
    Pergunta:Em Python, qual comando é usado para exibir algo na tela?


</section>
<section>
    <form method="POST">
        <li><button name="certo200">print()</button></li>
        <li><button name="errado200">show()</button></li>
        <li><button name="errado200">display()</button></li>
        <li><button name="errado200">range()</button></li>
    </form>
</section>
{% endblock %}