{% extends 'layout.html' %}

{% block title %}
Biologia por 800
{% endblock %}

{% block content %}
<section>
    <h3>Qual cientista é conhecido como o “pai da computação”?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="errado800">A) Albert Einstein</button></li>
        <li><button name="certo800">B) Alan Turing </button></li>
        <li><button name="errado800">C) Bill Gates  </button></li>
        <li><button name="errado800">D) Isaac Newton</button></li>
    </form>
</section>
{% endblock %}