{% extends 'layout.html' %}

{% block title %}
Biologia por 1000
{% endblock %}

{% block content %}
<section>
    <h3>Qual cientista criou o conceito da “World Wide Web” (WWW)?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="errado1000">A) Steve Jobs</button></li>
        <li><button name="certo1000">B) Tim Berners-Lee </button></li>
        <li><button name="errado1000">C) Bill Gates  </button></li>
        <li><button name="errado1000">D) Larry Page</button></li>
    </form>
</section>
{% endblock %}