{% extends 'layout.html' %}

{% block title %}
Informática por 400
{% endblock %}

{% block nav %}
<a href="/">Sobre</a>
{% endblock %}

{% block content %}
<section>
    Pergunta:Em Python, qual comando é usado para exibir algo na tela?


</section>
<section>
    <form method="POST">
        <li><button name="certo400">A) print()</button></li>
        <li><button name="errado400">B) show()</button></li>
        <li><button name="errado400">C) console.log()</button></li>
        <li><button name="errado400">D) range()</button></li>
    </form>
</section>
{% endblock %}