{% extends 'layout.html' %}

{% block title %}
História por 600
{% endblock %}

{% block content %}
<section>
    <h3>Qual destes países NÃO fazia parte do Eixo na Segunda Guerra Mundial?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="certo600">A) Alemanha</button></li>
        <li><button name="errado600">B) Itália</button></li>
        <li><button name="errado600">C) Japão</button></li>
        <li><button name="certo600">D) França</button></li>
    </form>
</section>
{% endblock %}