{% extends 'layout.html' %}

{% block title %}
História por 400
{% endblock %}

{% block content %}
<section>
    <h3>Durante a Revolução Francesa, qual era o lema dos revolucionários?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="errado400">A) Paz, Pão e Terra</button></li>
        <li><button name="certo400">B) Liberdade, Igualdade e Fraternidade</button></li>
        <li><button name="errado400">c) Ordem e Progresso</button></li>
        <li><button name="errado400">D) Unidade, Fé e Trabalho</button></li>
    </form>
</section>
{% endblock %}