{% extends 'layout.html' %}

{% block title %}
Históia por 200
{% endblock %}

{% block content %}
<section>
    <h3>Na Roma Antiga, quem formava o chamado “Primeiro Triunvirato”?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="certo1000">A) César, Pompeu e Crasso</button></li>
        <li><button name="errado1000">B) César, Augusto e Marco Antônio</button></li>
        <li><button name="errado1000">C) Rômulo, Remo e Tito</button></li>
        <li><button name="errado1000">D) Trajano, Nero e Adriano</button></li>
    </form>
</section>
{% endblock %}