{% extends 'layout.html' %}

{% block title %}
História por 200
{% endblock %}

{% block content %}
<section>
    <h3>Quem foi o primeiro presidente do Brasil?</h3>
</section>
<section>
    <form method="POST">
        <li><button name="errado200">A) Getúlio Vargas</button></li>
        <li><button name="certo200">B) Deodoro da Fonseca</button></li>
        <li><button name="errado200">C) Floriano Peixoto</button></li>
        <li><button name="errado200">D) Dom Pedro I</button></li>
    </form>
</section>
{% endblock %}