{% extends 'layout.html' %}

{% block title %}
Matemática por 800
{% endblock %}

{% block content %}
<section>
    <h3>Qual teorema afirma que o número 360 pode ser escrito como 2³·3²·5 ?</h3>
    <img src="{{ url_for('static', filename='Images/nomedoarquivo.tipodoarquivo') }}" alt="Imagem da questão">
</section>
<section>
    <form method="POST">
        <li><button name="errado800">Teorema Fundamental da Álgebra</button></li>
        <li><button name="errado800">Teorema de Pitágoras</button></li>
        <li><button name="certo800">Teorema Fundamental da Aritmética</button></li>
        <li><button name="errado800">Teorema de Arrhenius</button></li>
        <li><button name="errado800">Teorema fundamental do Cálculo</button></li>
    </form>
</section>
{% endblock %}

