{% extends 'layout.html' %}

{% block title %}
Matemática por 200
{% endblock %}

{% block content %}
<section>
    Quantos números primos existem de 0 até 10?
    <img src="{{ url_for('static', filename='Images/nomedoarquivo.tipodoarquivo') }}" alt="Imagem da questão">
</section>
<section>
    <form method="POST">
        <li><button name="certo200">4</button></li>
        <li><button name="errado200">0</button></li>
        <li><button name="errado200">6</button></li>
        <li><button name="errado200">3</button></li>
        <li><button name="errado200">5</button></li>
    </form>
</section>
{% endblock %}

