{% extends 'layout.html' %}

{% block title %}
Matemática por 200
{% endblock %}

{% block nav %}
<a href="/">Sobre</a>
{% endblock %}

{% block content %}
<section>
    Pergunta:
    <img src="{{ url_for('static', filename='Images/nomedoarquivo.tipodoarquivo') }}" alt="Imagem da questão">
</section>
<section>
    <form method="POST">
        <li><button name="certo200">Resposta1</button></li>
        <li><button name="errado200">Resposta1</button></li>
        <li><button name="errado200">Resposta1</button></li>
        <li><button name="errado200">Resposta1</button></li>
    </form>
</section>
{% endblock %}