{% extends 'layout.html' %}

{% block title %}
Matemática por 1000
{% endblock %}

{% block content %}
<section>
    <h3>Severina tinha, no sul do Brasil, um bolo de 121π cm2 de área de sua secção transversal horizontal para comemorar o nascimento da nona filha do seu pai, que nunca teve um filho homem. Quando Severina foi para o calor do Sertão, onde a caatinga é mais seca, seu bolo dilatou em 1 centímetro em relação ao seu raio. No Sertão, Severina, que é alérgica a açúcar, quer repartir seu bolo entre todas as suas irmãs dando para elas uma quantidade igual de pedaços. Considerando a quantidade de pedaços que cada uma recebeu, que, por conta de Severina ter TOC, todos eles tinham exatamente 3,6π cm2 de área em sua secção transversal horizontal, que horas são?</h3>
    <img src="{{ url_for('static', filename='Images/nomedoarquivo.tipodoarquivo') }}" alt="Imagem da questão">
</section>
<section>
    <form method="POST">
        <li><button name="certo1000">7:55</button></li>
        <li><button name="errado1000">00:59</button></li>
        <li><button name="errado1000">14:40</button></li>
        <li><button name="errado1000">8:45</button></li>
        <li><button name="errado1000">13:45</button></li>
    </form>
</section>
{% endblock %}

