{% extends 'layout.html' %}

{% block title %}
Calculadora de Fatorial
{% endblock %}

{% block content %}
<section class="sec1">
    <h3>Calculadora de fatorial:</h3>
    <form method="POST">
        <label for="fatoriando">Insira um número para calcular seu fatorial: </label>
        <input type="text" name="fatoriando" id="fatoriando">
        <button name="calc">Calcular</button>
    </form>
    {% if fatorial %}
        <h4>{{ fatorial }}</h4>
    {% endif %}
</section>
<section class="sec2">
    <h3>Código:</h3>
    <p>
        # O fatorial(!) de um número natural é o produto de todos os números até chegar nele mesmo. Por exemplo, 5! = 5x4x3x2x1 = 120 <br><br><br>

        número = int(input("Digite um número para calcular seu fatorial: "))<br>
        # Pede que o usuário digite um número, e cria uma variável "número" com esse valor, especificando que é um "int" (número inteiro).<br><br>

        total = 1<br>
        # Criamos uma outra variável "total", que vai ser o resultado do nosso fatorial.<br>
        n = número<br>
        # Criamos também uma outra variável "n", igual ao "número", que vai ser útil nas operações.<br><br><br>

        # Como vamos precisar fazer várias multiplicação, usamos a função while.<br>
        while n > 0:<br>
            total = total * n<br>
        # Enquanto o "n" for maior do que zero, multiplicamos o total pelo valor do "n". Isso acontece várias vezes.<br><br>

            n -= 1<br>
        # Essa linha subtrai 1 do valor do "n".<br>
        # Dessa forma, a cada ciclo da função while, o "n" fica menor. Mas, quando chegar em zero, a função para de rodar.<br>
        # Por exemplo, se o valor digitado for 5, então o "n" vai ser 5 e depois 4, 3, 2, 1.<br><br><br>

        print(f"O fatorial de {número} é {total}")<br>
        # Agora, só precisamos que o programa mostre uma mensagem com o nosso "total"!<br>
        # Repare que, como fizemos as operações com a variável "n", o nosso número continua o mesmo.<br><br>

        # Obs.: Se o número for zero, a função while não vai nunca rodar, mas como o total começa sendo 1, o programa vai mostrar que 0! = 1
    </p>
</section>

{% endblock %}
