{% extends 'layout.html' %}

{% block title %}
Contador Regressivo
{% endblock %}

{% block nav %}
<a href="/">Sobre</a>
{% endblock %}

{% block content %}
<section class="sec1">
    <h3>Contagem regressiva:</h3>
    <form method="POST">
        <!-- Formulário será preenchido conforme necessário -->
    </form>
</section>
<section class="sec2">
    <h3>Código:</h3>
    <p>
        código
    </p>
</section>
{% endblock %}

{% block head %}
{% if atualizar %}
    <meta http-equiv="refresh" content="1">
{% endif %}
{% endblock %}