{% extends 'layout.html' %}

{% block title %}
Contador
{% endblock %}
{% block onload %}

{% block nav %}
<a href="/">Sobre</a>
{% endblock %}

{% block content %}
<section class="sec1">
    <h3>Contador: <span id="valor">0</span></h3>
    <div class="button-group">
        <button onclick="add1()">+1</button>
        <button onclick="subtract1()">-1</button>
        <button onclick="reset()">Resetar</button>
    </div>
    <div class="custom-value">
        <label for="vp">Valor personalizado: </label>
        <input type="number" id="customInput" required>
        <button onclick="addcv()"">Adicionar</button>
        <button onclick="subtractcv()">Retirar</button>
    </div>
</section>
<section class="sec2">
    <h3>Código:</h3>
    <p>Este contador mantém seu valor mesmo após atualizar a página, utilizando o localStorage do navegador.</p>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock %}