{% extends 'layout.html' %}

{% block title %}
Contador
{% endblock %}

{% block nav %}
<a href="/">Sobre</a>
{% endblock %}

{% block content %}
<section class="sec1">
    <h3>Contador: <h3 id="valor">0</h3></h3>
    <form method="POST">
        <button onclick="add1()">+1</button>
        <button name="subtract1">-1</button>
        <button name="reset">Resetar</button>
    </form>
    <form method="POST">
        <label for="vp">Valor personalizado: </label>
        <input type="number" name="vp" required>
        <button name="addvp">Adicionar</button>
        <button name="subtractvp">Retirar</button>
    </form>
</section>
<section class="sec2">
    <h3>Código:</h3>
    <p></p>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock %}