<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Titulo Padrão{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/Estilo.css') }}">
</head>
<body>
    <header>
        <h1>Manhã do conhecimento</h1>
        <h2>Educação digital</h2>
        <nav>
            {%block nav%}Link padrão{%endblock%}
        </nav>
    </header>
    <main>
        <aside>
            <h2>Scripts:</h2>
            <nav>
                <li><a href="/contador">Contador</a></li>
                <li><a href="/palindromo">Verificador de palíndromos</a></li>
                <li><a href="/conversor-c-f">Conversor de °C/°F e °F/°C</a></li>
                <li><a href="/fatorial">Calculadora de fatorial</a></li>
                <li><a href="/trivia">Trivia master</a></li>
                <li><a href="/adivinhação">Jogo de adivinhação</a></li>
                <li><a href="/validarsenha">Validador de senha</a></li>
                <li><a href="/paginabloqueada">Página bloqueada por senha</a></li>
            </nav>
        </aside>
        <div class="content">
            {%block content%}Conteúdo padrão{%endblock%}
        </div>
    </main>
    <footer>
        <img src="{{ url_for('static', filename='Images/Logo nova CSA.ico') }}" alt="Logo" class="logo">
        <p>
            &copy; Colégio Santo Antonio 2025
        </p>
    </footer>
</body>
</html>