{% extends 'layout.html' %}

{% block title %}
É o Fim?
{% endblock %}

{% block content %}
<section class="sec1">
    <h3>É o fim.</h3>
    <p>
        é o fim
    </p>
</section>
<section class="sec2">
    <h3>Mensagem final:</h3>
    <p>
        Como você pode ver, com a programação é possível criar inúmeras ferramentas úteis, e essa página desbloqueada por senha é só um pequeno exemplo disso. Tudo que você faz, no seu computador, celular ou dispositivo envolve, de alguma forma, envolve programação. Durante as aulas, aprendemos a criar nossos próprios códigos, entrando nesse universo fascinante da programação. Precisamos aprender uma nova linguagem, a da programação, para resolver deafios aparentemente simples, mas que exigem uma nova forma de pensar que se aplica, também, em todas as outras áreas. Por isso, as aulas de educação digital são muito importantes, porque desenvolvem o raciocínio lógico e ensinam a navegar e entender melhor o ambiente digital.
    </p>
</section>

{% endblock %}

