{%extends 'layout.html'%}

{%block title%}
Sobre
{%endblock%}

{%block nav%}
<a href="/resetar" onclick="resetar()">Resetar</a>
{%endblock%}

{%block content %}
<section class="sec1">
    <h3>Sobre:</h3>
                <p>
        Este é o nosso trabalho da manhã do conhecimento. Nós, alunos do segundo ano do colégio santo antônio aprendemos a linguagem de programação python e, com algum estudo autônomo, nos responsabilizamos de fazer esse site do zero para apresentar hoje, na manhã do conhecimento, tipos de scripts que nós aprendemos a fazer.
    </p>
</section>
<section class="sec2">
     <h3>Integrantes do trabalho:</h3>
    <p>
        <li>Alice Sousa - 2ª A</li>
        <li>David Morais - 2ª A</li>
        <li>Bernardo Teixeira - 2ª A</li>
        <li>Amaury Rosca - 2ªB</li>
        <li>João Marcelo - 2ªB</li>
        <li>Fábio de Carvalho - 2ªB</li>
        <li>Henrique Buggarelli - 2ªB</li>
        <li>Sofia Sad -2ªC </li>
    </p>
</section>
{%endblock%}
{%block scripts %}
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{%endblock%}